body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0;
    overflow-x: hidden;
}
/* container-1 style */
.container {
    background-image: url(../media/book/book.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
    color: white;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.137);
}
/* container-2 style*/
.container-2 {
    text-align: center;
}
.container-2 h1 {
    font-family: "poppins";
}
.container-2 table {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    width: 90%;
    max-width: 1000px;
    overflow-x: hidden;
    border: black solid 1px;
}
.container-2 table tr {
    background-color: lightgray;
}
.container-2 table td  {
    min-width: 85px;
    padding: 5%;
    border: black solid 1px;
}
.container-2 table th {
    border: black solid 1px;
    background-color: beige;
    padding: 5%;
    color: saddlebrown;
}
.lightgray {
    background-color: lightgray;
}
.darkgray {
    background-color: darkgray;
}

.header-content h2 {
    font-size: 3rem;
}
.top {
    text-align: center;
    font-family: "poppins";
}
.book {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    max-width: 1000px;
    width: 90%;
    background-color: lightgray;
    display: flex;
}
.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.left-side .instructions {
    margin-left: 5%;
}
.instructions {
    font-family: "poppins";
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5%;
}
.calculate {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
}
/* card style */
.cards {
    margin-top: 5%;
    width: 70%;
    min-width: 150px;
    max-width: 300px;
    cursor: pointer;
}
/* Visa style */
.visa {
    border-radius: 5%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    display: flex;
    flex-direction: column;
    height: 160px;
}
.visa-front {
    display: block;
}
.visa-front .row-1 {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
.row-1 img {
    margin-top: 3%;
}
.visa-front .row-2 {
    margin-left: 3%;
    text-align: left;
}
.visa-front .row-3 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.visa-front .row-3 {
    font-size: 0.5rem;
    color: white;
}
.visa-front .row-4 {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}
.visa-front .r-side {
    display: flex;
}
.visa-back {
    height: 160px;
    display: none;
}
.visa-back .row-1 {
    border-top-left-radius: 15%;
    border-top-right-radius: 13%;
    background-color: black;
    width: 100%;
    height: 25px;
}
.visa-back .row-3 {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: right;
    color: white;
    font-size: 0.7rem;
}
.visa-back p {
    margin: 0%;
}
.visa_display_cvv {
    margin: 0%;
}
/* Mastercard display*/
.mastercard {
    border-radius: 5%;
    background-image: linear-gradient(45deg, #424040, #836971);
    display: none;
    flex-direction: column;
    height: 160px;
}
.mastercard-front {
    display: block;
}
.mastercard-front .row-1 {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
.row-1 img {
    margin-top: 3%;
}
.mastercard-front .row-2 {
    margin-left: 3%;
    text-align: left;
}
.mastercard-front .row-3 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.mastercard-front .row-3 {
    font-size: 0.5rem;
    color: white;
}
.mastercard-front .row-4 {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}
.mastercard-front .r-side {
    display: flex;
}
.mastercard-back {
    height: 160px;
    display: none;
}
.mastercard-back .row-1 {
    border-top-left-radius: 15%;
    border-top-right-radius: 13%;
    background-color: black;
    width: 100%;
    height: 25px;
}
.mastercard-back .row-3 {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: right;
    color: white;
    font-size: 0.7rem;
}
.mastercard-back p {
    margin: 0%;
}
.mastercard_display_cvv {
    margin: 0%;
}
.book input , select {
    padding: 1%;
    outline: none;
    border: none;
}
.book input:hover , select:hover{
    background-color: beige;
}
.card-toggle {
    margin-top: 3%;
}
.card-details {
    margin-top: 3%;
}
#cvv {
    min-width: 23px;
}
#submit {
    border-radius: 10%;
    color: white;
    padding: 1% 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: black;
}
@media (max-width: 700px) {
    .book input, select {
        outline: none;
        padding: 3%;
        border: none;
    }
    #submit {
        padding: 2% 5%;
    }
    .book {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-side {
        text-align: center;
        width: 50%;
    }
    .right-side {
        text-align: center;
        width: 100%;
    }
    .cards{
        min-width: none;
        max-width: 300px;
        width: 95%;
        margin: auto;
    }
}